{% extends ('dataOwner/dataOwner_base.html') %}
{% block title %} Files List {% endblock %}
{% block content %}

<style>
.table{
border:1px solid white;
text-align:center;

}
    .t_body{
    min-height:50px;
    border:1px solid white;
    background-color:black;
    }

    .scroll1{
    height:75vh;
    overflow-y:scroll;
    overflow-x:hidden;
    }
</style>

<div class="scroll" style="width:80%;">

   <button class="font"><a href="/data_owner_file_upload"  class="font link-primary">UPLOAD NEW FILE</a></button><br>
    <h5 style="color:white;">{{ msg }}</h5>
    <div class="scroll1">
<table class="table table-hover table-dark table-bordered">
  <thead>
              <tr>
                 <th scope="col">F.NO</th>
                 <th scope="col">DATE_of_File</th>
                 <th scope="col">Do_code</th>
                 <th scope="col">Du_code</th>
                 <th scope="col">FILE NAME</th>
                 <th scope="col">Summary</th>
             </tr>
  </thead>
  <tbody class="t_body">

             {% for i in data %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[8] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[6] }}</td>
<!--                <td>-->
<!--                    <form action="/dataOwner_file_access" method="post">-->
<!--                       <input type="hidden" name="file_num"  readonly value="{{ i[0] }}">-->
<!--                       <input type="hidden" name="file_name"  readonly value="{{ i[3] }}">-->
<!--                       <input type="hidden" name="cloud_file_name"  readonly value="{{ i[4] }}">-->
<!--                       <button type="submit" style="padding:2px 8px;"  class="file_button">File Access</button>-->
<!--                    </form>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <form action="/dataOwner_file_delete" method="post">-->
<!--                       <input type="hidden" name="file_num" id="number" readonly value="{{ i[0] }}">-->
<!--                       <input type="hidden" name="file_name" id="name" readonly value="{{ i[3] }}">-->
<!--                       <input type="hidden" name="cloud_file_name"  readonly value="{{ i[4] }}">-->
<!--                       <button type="submit" style="padding:2px 8px;" id="delete_button" class="file_button">Delete</button>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
                   {% endfor %}

  </tbody>
</table>
    </div>
</div>
<p id="res"></p>


{% endblock %}
